---
layout: default
title: cuiwenjun
---
{% for post in paginator.posts %}
<div class="meta">{{ post.date | | date: "%b %d, %Y"  }}</div>
<h2><a href="{{ post.url }}" class="posturl">{{ post.title }}</a></h2>
{{ post.content  | replace:'acronym','abbr' }}
{% endfor %}
<div id="navigation">
{% if paginator.next_page %}<div id="left"><a href="/page{{paginator.next_page}}/"><img src="/images/move.png" alt="Older" /></a></div>{% endif %}{% if paginator.previous_page %}{% if paginator.previous_page == 1 %}<div id="right"><a href="/"><img src="/images/move.png" alt="Newer" /></a></div>{% else %}<div id="right"><a href="/page{{paginator.previous_page}}/"><img src="/images/move.png" alt="Newer" /></a></div>{% endif %}{% endif %}
</div>
