<!DOCTYPE html>
<html>
<head>
<!-- Last built: {{ site.time | date_to_xmlschema }} -->
<meta charset="utf-8" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta name="viewport" />
<title>崔文军</title>
<link href="/css/style.css?v={{ site.time | date_to_xmlschema }}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
<link rel="alternate" href="http://cuiwenjun.com/atom.xml" type="application/atom+xml">
<!--[if IE]>
<script src="/js/html5shiv.js"></script>
<![endif]-->
<script type="text/javascript">		
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-32942578-1']);
_gaq.push(['_setDomainName', 'collantes.us']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();		
</script>
</head>
<body>
<div id="main">
<header>
<div id="wrap"><a href="/"><img id="me" src="/images/david_bw.png" alt="" /></a></div>
</header>
<section>
<article>
{{ content  | replace:'acronym','abbr' }}
</article>
</section>
<footer>
<div id="thefooter"><a href="/">Home</a><span class="spacer"></span><a href="/about/">About</a><span class="spacer"></span><a href="/archives/">Archives</a><span class="made">♥</span></div>
</footer>
</div>
</body>
</html>
